
html{overflow-x:hidden}body{background-color:#fbfbfb;font-size:12px;color:#343434;font-family:'ËÎÌå',Arial,Helvetica}body,div,ul,li,h1,h2,h3,h4,h5,h6,form,input,p,button,textarea,dl,dt,dd{margin:0;padding:0;word-wrap:break-word}h1,h2,h3,h4,h5,h6{color:#000;font-family:Î¢ÈíÑÅºÚ}img{border:0px}ul,ol,li{list-style:none}a,a:link,a:visited,a:active{text-decoration:none;color:#343434}a:hover{text-decoration:underline;color:#B01F2E}a:focus,input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:none}textarea{resize:none}
.Layout{width:979px;margin:0px auto;padding-top:10px;overflow:hidden}
.clear{display:block;clear:both;height:0px;line-height:0px;overflow:hidden}img.lazy{display:none}object{display:block;line-height:0px;overflow:hidden}a[title="Õ¾³¤Í³¼Æ"]{display:none}
.red{color:#B01F2E}

* html,* html body{background-image:url(about:blank);background-attachment:fixed}
.topbox,.topline,.topbar{width:100%;padding-top:0px;background:#F7F7F7;overflow:visible}
.topFLOAT .topbox,.topFLOAT .topline,.topFLOAT .topbar{background:#33261c}
.topline{height:3px;overflow:hidden}
.topbox{border-bottom:1px solid #CCCCCC}
.topFLOAT .topbox{border-bottom:none}
.topbar{height:36px;border-bottom:1px solid #FFF;z-index:888}
.topFLOAT .topbar{height:38px;border-bottom:none}
.topbar .mainbox{position:relative;width:979px;margin:0px auto}
.topbar .left_con{float:left;height:38px;text-align:left}
.topbar .right_con{float:right;height:38px;color:#d8dfea;text-align:right;overflow:hidden}
.topbar ul,.topbar li{float:left;color:#FFF;overflow:hidden}
.topbar li{height:26px;padding-top:12px}
.topbar ul,.topbar li{color:#343434}
.topbar .mainbox li a{float:left;display:inline-block;overflow:hidden}
.topFLOAT .topbar ul,.topFLOAT .topbar li{color:#D8DFEA}
.topFLOAT .topbar .mainbox li a{color:#D8DFEA}
.topFLOAT .topbar li a:hover{color:#D8DFEA}
.fUL{display:none}
.topFLOAT .fUL{display:block}
.topFLOAT .UL{display:none}
.topbar .w{float:left}
.topbar .ver{float:left;display:inline-block;padding:0px 5px;font-style:normal;overflow:hidden}
.topbar .none a{text-decoration:underline}
.topbar .pic{margin-top:-9px;margin-right:5px}
.topbar .pic img{width:23px;height:31px}
.topbar .name{font-weight:800}
.topFLOAT .topline,.topFLOAT .topbar{position:fixed;left:0px;top:0px}
* html .topFLOAT .topline,* html .topFLOAT .topbar{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop))}
.topFLOAT .topbtn{display:block;position:fixed;top:3px;right:10px}
* html .topbtn{position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)-10);top:expression(eval(document.documentElement.scrollTop)+3)}
.topbtn{display:none;width:65px;height:21px;font-size:0px;line-height:0px;cursor:pointer;z-index:999;overflow:hidden}
.topbtn div{float:left;width:100%;height:100%;background:url('../images/topbtn.gif') no-repeat;overflow:hidden}
.topbtn .open{display:block;background-position:0px 0px}
.topbtn .close{display:none;background-position:-65px 0px}
.topbox.active .open{display:none}
.topbox.active .close{display:block}
.topblank{width:100%;height:41px;overflow:hidden}
.topbar .info{display:none;position:absolute;top:38px;left:0px;width:350px;height:auto;border:1px solid #cccccc;border-top:none;background-color:#FFF;z-index:999;overflow:hidden}
.topbar .info .left{float:left;width:84px;height:112px;padding:10px;overflow:hidden}
.topbar .bpic img{width:84px;height:112px}
.topbar .info .right{float:left;width:246px;height:112px;padding:10px 0px;overflow:hidden}
.topbar .info .right p{float:left;width:246px;overflow:hidden}
.topbar .info .right .n a{display:inline-block;padding-bottom:5px;font-size:20px;color:#C00000;font-family:'Arial','ºÚÌå',Gadget,sans-serif}
.topbar .info .bot{float:left;padding:0px 10px 10px 10px;overflow:hidden}
.topbar .info .bot p{float:left;width:330px;overflow:hidden}
.topbar .info .intro{line-height:18px;padding-bottom:10px}
.topbar .info .intro span{font-weight:800}
.topbar .inme{padding:5px 0px;margin-top:10px;text-align:center;border:1px solid #e1e1e1;border-left:none;border-right:none;font-weight:800}
.Layout.h{width:100%;padding-top:0px;overflow:hidden}
.header{width:100%;height:145px}
.header .top{width:979px;height:95px;margin:0px auto;z-index:999;overflow:hidden}
.header .nav{width:100%;height:50px;background-color:#33261c;overflow:hidden}
.header .logo{float:left;width:169px;height:90px;padding:15px 0px;overflow:hidden}
.header .c_con{float:left;width:460px;height:90px;overflow:hidden}
.header .s_box{float:right;position:relative;width:350px;height:90px;background:url('../images/s_box_bg.png') no-repeat 0px 12px;overflow:hidden}
.header .s_box form{position:absolute;width:350px;height:30px;top:35px;left:0px;overflow:hidden}
.s_entry{position:absolute;left:75px;top:18px;width: 320px;}
.s_entry a{float:left;display:inline-block;margin-right:5px;font-weight:800;}
.header .s_box form.on{background:url('../images/loading_data.gif') no-repeat;background-position:8px 10px}
.header #searchword{float:left;width:265px;height:24px;padding-left:25px;font-size:14px;color:#343434;border:3px solid #8A8A8A;background:none;overflow:hidden}
.header #s_btn{float:right;width:50px;height:30px;line-height:30px;background-color:#666666;border:none;color:#FFF;font-size:14px;cursor:pointer;overflow:hidden}
.header .hotword{position:absolute;width:450px;height:16px;top:70px;left:0px;line-height:16px;_line-height:18px;overflow:hidden}
.header .hotword h3,.header .hotword a{float:left;display:inline-block;font-size:12px}
.header .hotword h3{color:#33261C}
.header .hotword a{margin-left:5px;text-decoration:underline}
.header .hotword a:hover{color:#B01F2E}
.header .nav .box{width:979px;height:50px;margin:0px auto;overflow:hidden}
.header .nav .box a{float:left;display:inline-block;height:50px;line-height:50px;_line-height:52px;color:#D8DFEA;font-size:14px;text-align:center;padding: 0 14px;overflow:hidden}
.header .nav .box a.home{width:140px;font-size:14px;font-weight:800;border-left:1px solid #d18049;margin-right: 20px;border-right:1px solid #d18049}
.header .nav .box a:hover{text-decoration:none;color:#E7A624;background:url('../images/allimg_basic.png') no-repeat 6px -8px}
.header .nav .box a.home:hover{text-decoration:underline;color:#D8DFEA;background:#333333}
.topFLOAT .topbar .mainbox li a.con, .bodyph .ph, .header .nav .box a.ph{font-weight:800;color:#E7A624 !important;background:url('../images/allimg_basic.png') no-repeat 6px -8px}

.Layout.ft{width:100%;min-height:120px;margin-top:20px;padding-top:0px;border-top:1px solid #AFAFAF}
.Layout.ft .center{width:979px;margin:0px auto;overflow:hidden}
.bot_logo{float:left;width:190px;height:70px;margin-top:10px;overflow:hidden}
.bot_logo .lazy{background-image:none !important}
.link{float:right;width:770px;overflow:hidden}
.link div{float:left;width:100%;height:auto;margin-top:10px;overflow:hidden}
.link span{float:left;line-height:22px;font-weight:800;color:#8c8c8c;overflow:hidden}
.link a{float:left;display:inline-block;height:22px;line-height:22px;margin-right:10px;color:#8c8c8c;overflow:hidden}
.link a:hover{color:#B01F2E}

.Head{position:relative;height:38px;border:1px solid #dedddd;border-bottom:1px solid #afafaf;background:#FFF;padding-left:10px}
.Head h2,.Head span{display:inline-block;line-height:34px;overflow:hidden;font-family:Î¢ÈíÑÅºÚ}
.Head span.j{position:absolute;top:38px;left:16px;width:13px;height:6px;background:url('../images/allimg_basic.png') no-repeat -14px 0px;overflow:hidden}
.Head .morelist{position:absolute;right:0px;top:0px;width:auto;height:38px;line-height:40px;_line-height:42px;overflow:hidden}
.Head .more{float:right;width:auto;height:38px;padding-right:10px;line-height:40px;_line-height:42px;text-align:left;overflow:hidden}
.Head .more a{display:inline-block;text-decoration:underline}
.Head .more b{font-weight:normal;color:#B01F2E}
.Head ul{float:right;height:38px;line-height:40px;_line-height:42px;padding-right:10px;padding-right:16px\0;text-align:right;overflow:hidden}
.Head li{display:inline}
.Head li a{display:inline-block}

.bw_box{float:left;width:232px;height:auto;padding:13px 11px 0px;_padding-bottom:19px;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;overflow:hidden}.bw_box div{float:left;overflow:hidden}.bw_box div.t{width:231px;height:26px}.bw_box div.t a{display:inline-block;font-size:14px;font-weight:800;color:#4a5b66}.bw_box div.t a:hover{color:#B01F2E}.bw_box div.t span{color:#B01F2E}.bw_box div.pic{width: 94px;height: 126px;background: url('../images/k_bg.png') no-repeat scroll 0% 0% transparent;padding: 5px;}.bw_box div.pic img{width:84px;height:112px}.bw_box div.a_l{width:127px;height:55px;margin-top:-2px;color:#454545;border-bottom:1px solid #e8e8e8}.bw_box div.a_l div{float:left;width:124px;height:18px;line-height:18px;_line-height:20px;overflow:hidden}.bw_box div.a_l a{display:inline-block;color:#454545}.bw_box div.a_l a:hover{color:#B01F2E}.bw_box div.info{width:127px;height:70px;padding-top:4px;_padding-top:5px;}.bw_box div.info a{display:inline-block;line-height:18px;color:#6c6c6c}


.Con{display:inline-block;height:auto;border:1px solid #dedddd;border-top:none;background-color:#FFF;overflow:hidden}
.Layout.no_h .Con{border-top:1px solid #dedddd}
.Layout.no_h .Con.jj_pl{background: #f6f3ec}
.Layout.no_bg .Con{background-color:transparent}
.Layout.no_bor .Con{border:none}
.Con .Left{float:left;width:765px;height:auto;margin-top:-1px;margin-bottom:-1px;border-right:1px solid #dedddd;background-color:#FFF;overflow:hidden}
.Con .Right{float:right;width:211px;height:auto;padding:20px 0px 0px 0px;margin-left:-1px;border-left:1px solid #dedddd;background-color:#FFF;overflow:hidden}
.Layout.no_h .Con .Right{position:relative;padding-top:0px}

.r_box.author div{float:left;overflow:hidden}
.Layout .r_box.author .head{background-position:10px -420px}
.r_box.author .head h2{float:left;font-size:17px;overflow:hidden}
.r_box.author .head span{float:right;height:30px;line-height:25px;_line-height:27px;line-height:27px\0;padding-right:10px;font-size:12px;background-color:#FFF;overflow:hidden}
.r_box.author .head span a{display:inline-block}
.Layout .r_box.author .pic{width:90px;height:118px;margin:0px 10px;_margin-left:5px;background:url('../images/allimg_basic.png') no-repeat -220px 0px}
.r_box.author .pic img{width:84px;height:112px;margin:3px}
.r_box.author .name{width:91px;height:26px;font-weight:800}
.r_box.author .words{width:91px;height:92px;line-height:22px;_margin-top:1px}
.r_box.art{_margin-top:-1px;_padding-bottom:11px}
.Layout .r_box.art .head{background-position:-166px -420px}
.Layout .r_box.art .pic{margin-right:0px;_margin-right:5px}

.r_box{float:left;width:211px;height:auto;padding-bottom:20px;overflow:hidden}
.r_box .head{float:left;width:211px;height:30px;font-size:11px;overflow:hidden;margin-left:5px}
.r_box ul{float:left;width:211px;height:auto;background:url('../images/allimg_basic.png') no-repeat 7px -66px;overflow:hidden}
.r_box li{float:left;width:211px;height:26px;line-height:26px;_line-height:28px;overflow:hidden}
.r_box li a{float:left;margin-left:30px}
.r_box li span{float:right;height:26px;line-height:26px;text-align:right;padding-right:6px;color:#b01f2e;background-color:#FFF;overflow:hidden}
.r_box li span a {float:right;color:#b01f2e;margin-left: 0px;}
.r_box.cn li span{_line-height:28px}
.r_box .first_con{float:left;width:191px;height:auto;margin:5px 0px 10px 0px;padding:10px;_padding-bottom:9px;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;background-color:#e8e8e8;overflow:hidden}
.r_box .first_con a{float:none;margin-left:0px}
.r_box .first_con span{float:none;padding-right:0px;color:#343434;background-color:transparent}
.r_box .first_con div{float:left;overflow:hidden}
.r_box .pic{width:84px;height:112px}
.r_box .pic img{width:84px;height:112px}
.r_box .a_l{width:99px;margin-top:-2px;margin-left:8px;border-bottom:1px solid #d7d7d7}
.r_box .a_l div{float:left;width:110px;height:18px;line-height:18px;_line-height:20px;overflow:hidden}
.r_box .a_l span{height:18px;line-height:18px;_line-height:20px}
.r_box .info{width:99px;max-height:50px;margin-left:8px;padding-top:4px;_padding-top:5px}
.r_box .info a{display:inline-block;line-height:18px;color:#6c6c6c}

.r_box.qldzb .head{background-position:68px -361px}
.r_box.yddj .head{background-position:-109px -361px}
.r_box.ydhp .head{background-position:-286px -361px}
.r_box.cmztj .head{background-position:68px -456px}
.r_box.rmwbtj .head{background-position:-116px -456px}
.r_box.ssphb .head{background-position:67px -617px}
.r_box.zxxxtj .head{background-position:-116px -617px}

.m_list .Head{background-position:10px -215px}
.m_list .Con .Right{padding-top:12px}
.m_list .m_head{float:left;width:788px;height:40px;line-height:50px;_line-height:52px;border-bottom:1px solid #e5e3e1;overflow:hidden}
.m_list .m_head span{float:left;text-align:right;overflow:hidden}
.m_list span.c{width:62px}
.m_list span.t{width:182px}
.m_list span.w{width:335px}
.m_list span.a{width:82px}
.m_list span.z{width:76px}
.m_list span.tm{width:82px}
.ul_m_list{float:left;width:788px;height:auto;padding:10px 0px;overflow:hidden}
.ul_m_list li{float:left;width:748px;height:30px;line-height:30px;_line-height:32px;padding:0px 20px;overflow:hidden}
.odd{background-color:#f0ede9}
.ul_m_list div{float:left;height:30px;overflow:hidden}
.ul_m_list div a{display:inline-block}
.ul_m_list div.c{width:60px}
.ul_m_list div.c a{color:#7d7d7d}
.ul_m_list div.c a:hover{color:#B01F2E}
.ul_m_list .title{width:444px;padding-left:10px}
.ul_m_list .title .t a{font-size:14px;color:#6d2c06}
.ul_m_list .title .n a{color:#7d7d7d}
.ul_m_list .title a:hover{color:#B01F2E}
.ul_m_list .title .n img{position:relative;top:3px}
.ul_m_list .words{width:60px;_line-height:30px;text-align:center;color:#7d7d7d}
.ul_m_list .author{width:110px;text-align:center;color:#025b81}
.ul_m_list .abover{width:40px;text-align:center;margin-right:14px}
.ul_m_list .abover span{color:#B01F2E}
.ul_m_list .time{width:70px;_line-height:30px;text-align:center;color:#7d7d7d}

.bot_more{float:left;width:788px;height:50px;line-height:40px;_line-height:42px;text-align:center;overflow:hidden}
.bot_more a{display:inline-block;font-size:14px;color:#454545;text-decoration:underline}
.bot_more a:hover{color:#B01F2E}

.wei_infobox{position:relative;float:left;height:25px;line-height:25px;background:url('../images/allimg_basic.png') no-repeat -99px 4px;overflow:hidden}
.wei_infobox ul{position:absolute;top:0px;left:20px;width:100%;height:auto;background-color:#FFF;overflow:hidden}
.wei_infobox li{float:left;width:100%;height:25px;line-height:25px;_line-height:27px;line-height:26px\0;overflow:hidden}
.wei_infobox a{float:left;display:inline-block;height:25px;margin-right:25px;color:#8a632b;overflow:hidden}
.wei_infobox a:hover{color:#B01F2E}
.wei_infobox span{float:left;height:25px;line-height:25px;line-height:26px\0;overflow:hidden}

.floatBox{position:fixed;right:10px;bottom:100px;z-index:999}* html .floatBox{position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)-10);top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-100))}
.fbox{float:right;overflow:hidden}
.fli{float:right;height:58px;margin-bottom:1px;clear:both;border:1px solid #7e7c78;overflow:hidden}
.fbtn{float:left;width:58px;height:60px;text-align:center;line-height:92px;background:url('../images/allimg_basic.png') no-repeat #E2E2E2;cursor:pointer;overflow:hidden}
.fbox .fli .fbtn,.fbox .fli .fbtn:hover{text-decoration:none;color:#949494}
.rand .fbtn{background-position:-116px -188px}
.sj .fbtn{background-position:17px -130px}
.sq .fbtn{background-position:-71px -189px}
.sy .fbtn{background-position:-26px -130px}
.ml .fbtn{background-position:-66px -130px}
.wz .fbtn{background-position:18px -185px}
.ps .fbtn{background-position:-30px -185px}
.fli.on .fbtn{color:#949494;font-weight:800;text-decoration:none}
.udLI{width:60px;height:60px;border:none}
.UD{display:none;float:right;width:60px;text-indent:-999px;background:url('../images/allimg_basic.png') no-repeat -182px -351px #7e7c78;overflow:hidden}
.udLI.on .UD{background-color:#000}

.TIP{display:none;position:fixed;_position:absolute;top:50%;left:50%;width:298px;height:98px;margin-top:-50px;margin-left:-150px;background-color:#FFF;border:1px solid #bcbcbc;z-index:9999;overflow:hidden}
.TIP .h{width:100%;height:29px;line-height:29px;text-indent:5px;border-bottom:1px solid #cccccc;background-color:#ece9d8;font-size:14px}
.MSG{display:block;width:100%;height:68px;line-height:68px;text-align:center}
.MAK{display:none;position:fixed;_position:absolute;top:0px;left:0px;width:100%;height:100%;background-color:#d3d3d3;_background-color:transparent;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;z-index:9995;overflow:hidden}

.ad200{width:200px;padding-left:5px;padding-right:5px}
.Con.jj_pl .r_box.ad336{width:336px;padding-left:10px;padding-right:41px}
.Con.jj_pl .r_box.last{padding-bottom:5px}

#reFRESH{position:absolute}#reFRESH img,#reFRESH a{color:#B01F2E;text-decoration:underline;cursor:pointer}#reFRESH a:hover{font-weight:800}#reFRESH img{visibility:hidden; margin-top:2px; margin-right:5px}#reFRESH.on img{visibility:visible}